body {
    overflow: auto;
}

#calendar {
    margin: 0 auto;
    width: 90%;
}

#header {
    font-size: 2rem;
    font-weight: bold;
}

.day, .date-block {
    float: left;
    width: calc(100%/7);
}

#date {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.date-block {
    padding: 4px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    height: 15vh;
    overflow: auto;
}

.empty {
    background-color: #444;
}

.event {
    border-radius: 12px;
    margin-bottom: 2px;
    padding: 0 4px;
    background-color: #313181;
    color: #fff;
}

.event .title {
    float: left;
}

.event .from {
    float: right;
}

/* info-panel */

#info-panel {
    display: none;
    position: absolute;
    width: 260px;
    background-color: #fff;
    border: 1px solid #000;
}

#info-panel.open {
    display: block;
}

#info-panel label {
    font-size: 0.8rem;
    color: #aaa;
}

#info-panel .close {
    float: right;
    position: relative;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#info-panel .title, #info-panel .time-picker {
    border-bottom: 1px solid #000;
}

#info-panel .title, #info-panel .time-picker, #info-panel .description {
    padding: 10px;
}

.error-msg {
    display: none;
}

.error-msg.open {
    display: block;
}

#info-panel .selected-date {
    text-align: center;
    font-size: 1.4rem;
}

#description {
    width: 100%;
}

#info-panel button {
    display: none;
    border: none;
    padding: 10px;
    color: white;
}

#info-panel.new button.create, #info-panel.new button.cancel {
    float: left;
    display: block;
    width: 50%;
}

#info-panel.update button.update, #info-panel.update button.cancel, #info-panel.update button.delete {
    float: left;
    display: block;
    width: 50%;
}

#info-panel button.update, #info-panel button.create {
    background-color: #2aaf2a;
}

#info-panel button.cancel {
    background-color: #ccc;
}

#info-panel.update button.delete {
    width: 100%;
    background-color: #a31c1c;
}

#signIn, #signUp {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#signIn h2, #signUp h2 {
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
}

#signIn input, #signUp input {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    width: 320px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    font-size: 14px;
}

#signIn button, #signUp button {
    border: 0;
    border-radius: 5px;
    width: 322px;
    height: 50px;
    font-size: 16px;
    background: #000;
    font-weight: lighter;
    color: #fff;
}

#signUp .errors, #signIn .errors {
    background-color: rgba(128, 128, 128, 0.795);
    display: none;
}

#signUp .errors.open, #signIn .errors.open {
    display: block;
}